<div class="form myForm" [ngClass]="formStatus">

  <h2 id="registration">Registration</h2>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    
    <div formGroupName="personDetails">
      <label for="fname">First Name</label>
      <input type="text" id="fname" placeholder="Your first name.." formControlName="firstname">

      <div>
        <small *ngIf="reactiveForm.get('personDetails.firstname').errors?.['required']">First name is required field</small>
        <small *ngIf="reactiveForm.get('personDetails.firstname').errors?.['noSpaceAllowed']">First name cannot contain space</small>
      </div>

      <label for="lname">Last Name</label>
      <input type="text" id="lname" placeholder="Your Last name.." formControlName="lastname">

      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Your Email.." formControlName="email">
    </div>
    
    

    <div>
      <span style="color: red;"
      *ngIf="!reactiveForm.get('personDetails.email').valid && reactiveForm.get('personDetails.email').touched">
      The email you entered is not valid email.</span>
    </div>

    <label for="country">Country</label>
    <select id="country" formControlName="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

    <label for="gender">Gender</label>
    <input type="radio" id="male" value="male" formControlName="gender">
    <label for="male">Male</label>
    <input type="radio" id="female" value="female" formControlName="gender">
    <label for="female">Female</label>
    <input type="radio" id="other" value="other" formControlName="gender">
    <label for="Other">Other</label>
    <br><br>

    <label>Hobbies <i>Optional</i></label>
    <div class="form-inline">
      <label><input type="checkbox" value="sports" formControlName="hobbies">Sports</label>
      <label><input type="checkbox" value="music" formControlName="hobbies">Music</label>
      <label><input type="checkbox" value="movies" formControlName="hobbies">Movies</label>
    </div>

    <div formArrayName="skills">
      <ng-container *ngFor="let skill of reactiveForm.get('skills')['controls']; index as i">
        <input type="text" placeholder="add skills.." formControlName="{{i}}">
      </ng-container>
      <button (click)="addSkills()">+ Add Skills </button>
      
    </div>

    <input type="submit" value="Submit" id="btn">
  </form>

</div>